body{
    overflow: hidden;
    overflow-x: hidden;
}
a {
    text-decoration:none;
}
.container{ 
    width: 1920px;
    margin: 0 auto;
    background-color:#030303;
}

.header{
    width: 1440px; 
    height: 150px;   
    margin: 0 auto;
    display: flex;
}

.logo{
    width: 199px;
    height: 33px;
    display: flex;
    justify-content: space-around;
    padding-top: 62px;
}

.img{
    width: 49px;
    height: 26px;
}

.lvr_txt{
    padding-left: 25px;
    color: #FFFFFF;;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
/* identical to box height */
    letter-spacing: 5px;
    text-transform: uppercase;
}

.menu{
    width: 775px;
    height: 26px;
    display: flex;
    justify-content: space-around;
    padding-left: 466px;
    padding-top: 61px;
}

.menu_txt{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
/* identical to box height */
    letter-spacing: 2px;
    color: #FFFFFF;
}

.wlcm{
    width: 1440px;
    height: 810px;
    margin: 0 auto;
}

.ttl{
    width: 598px;
    height: 388px;
}

.h1{
    width: 593px;
    height: 180px;
    padding-top: 150px;
    padding-bottom: 25px;
}

.h1_ttl{
    font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
/* or 112% */
letter-spacing: 5px;
text-transform: uppercase;
color: #FFFFFF;
}

.frm{
    width: 445px;
    height: 33px;
}

.p_frm{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #FFFFFF;
}

.btn{
    width: 360px;
    height: 75px;
    margin-top: 75px;
    background: #710707;
    /*Fonts*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.btn_txt{
    text-align: center;
}