/*
                                  Header
*/
body{
    overflow-x: hidden;
}
a {
    text-decoration:none;
}
.container{ 
    width: 1440px;
    margin: 0 auto;

}

.header{
    width: 1440px; 
    height: 150px;   
    margin: 0 auto;
    display: flex;
}

.logo{
    width: 199px;
    height: 33px;
    display: flex;
    justify-content: space-around;
    padding-top: 62px;
}

.img{
    width: 49px;
    height: 26px;
}

.lvr_txt{
    padding-left: 25px;
    color: #FFFFFF;;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
/* identical to box height */
    letter-spacing: 5px;
    text-transform: uppercase;
}

.menu{
    width: 775px;
    height: 26px;
    display: flex;
    justify-content: space-around;
    padding-left: 466px;
    padding-top: 61px;
}

.menu_txt{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
/* identical to box height */
    letter-spacing: 2px;
    color: #FFFFFF;
}


#blk{
    background-color:#030303
}

/*
                          Welcome to the louvre
*/

.wlcm{
    width: 1440px;
    height: 810px;
    margin: 0 auto;
    display: flex;
}

.ttl{
    width: 598px;
    height: 388px;
}

.h1{
    width: 593px;
    height: 180px;
    padding-top: 150px;
    padding-bottom: 25px;
}

.h1_ttl{
    font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
/* or 112% */
letter-spacing: 5px;
text-transform: uppercase;
color: #FFFFFF;
}

.frm{
    width: 445px;
    height: 33px;
}

.p_frm{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #FFFFFF;
}

.btn{
    width: 360px;
    height: 75px;
    margin-top: 75px;
    background: #710707;
    /*Fonts*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.btn_txt{
    text-align: center;
    padding-left: 60px;
}

.mona{
    width: 1000px;
    height: 750px;
    position: relative;
    padding-bottom: 75px;
}

#wht{
    background:#DBDBDB;
    
}

/*
                                 Virtual tour
*/

.tour{
    width: 645px;
    height: 90px;
    margin-bottom: 25px;
}

.tour_p{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.tour_line{
    width: 1440px;
    height: 3px;
    background: #710707;
    border-radius: 0px;
    margin-bottom: 50px;
}

.grous{
    width: 1000px;
}
.frst_group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.scnd_group{
    display: flex;
    justify-content: space-between;
}

.group_blk{
    width: 440px;   
    height: 424px;
}

.grout_img{
    width: 440px;
    height: 285px;
}

.groul_ttl{
    width: 252px;
    height: 35px;
}

.group_p_ttl{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #000000;
}

.group_line{
    width: 300px;
    height: 2px;    
    background: #710707;
    border-radius: 0px;
}

.group_high{
    width: 165px;
    height: 26px;
}

.group_low{
    width: 240px;
    height: 21px;
}

.group_p_high{
    font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
color: #000000
}

.group_p_low{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}